{% load static %}
<ul class="vertical menu">
    <li><hr class="" /></li>
    {% if object_list %}
    {% regroup object_list|dictsort:"theme.title" by theme as t_list %}
    {% for theme, articles in t_list %}
    <li><a class="ooka-title-canvas" href="{% url 'Tuto-theme' theme.slug %}">{{ theme|capfirst }}</a></li>
    <ul class="nested vertical menu">
        {% for a in articles|dictsort:"order" %}
        <li><a class="ooka-li-a-canvas {% if a.slug  in request.path  %}is-active{% endif %}" href="{% url 'Tuto-theme' a.theme.slug %}#{{ a.slug }}">{{ a.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
    {% endif %}
    <li><hr class="" /></li>
</ul>