{% load static %}
<ul class="vertical menu">
    <li><hr class="" /></li>
    {% if object_list %}
    {% regroup object_list|dictsort:"theme.order" by theme as t_list %}
    {% for theme, articles in t_list %}
    <li><a class="ooka-title-canvas" href="{% url 'theme' theme.slug %}">
           {{theme|capfirst}}
        </a></li>
        <ul class="menu vertical nested">
            {% for a in articles %}
            <li><a class="ooka-li-a-canvas" href="{% url 'article_detail' a.theme.slug a.slug%}" title="{{ a.title }}">{{ a.title |truncatechars:20 }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
    {% endif %}
    <li><hr class="" /></li>
</ul>