{% load static %}
<ul id="static" class="vertical menu  canvas-static-list">
    <li class="m-10"><img id="ookalogo" src="{% static '/img/ooka.svg' %}" alt=""></li>
    {% include 'z/top_left_link.html' %}
</ul>