{% load static %}
<div data-sticky-container class="top-bar scrollhide-nav" id="ooka-menu" data-sticky data-options="marginTop:0;" style="width:100%;">
    <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
    <div class="top-bar-left">
        <ul class="horizontal menu align-center">
            {% include 'z/top_left_link.html' %}
        </ul>
    </div>
    <div class="top-bar-right">
        <button class="user-menu" type="button" data-open="offCanvasRight"><i class="fa-solid fa-user la-lg"></i> </button>
    </div>
</div>