{% load static %}
<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas >
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    {% include 'z/user_menu.html' %}
</div>