{% load static %}

<script src="{% static '/js/vendor/jquery.js' %}"></script>
<script src="{% static '/js/vendor/what-input.js' %}"></script>
<script src="{% static '/js/vendor/foundation.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12/lib/typed.min.js"></script>
<script src="{% static '/js/app.js' %}"></script>
<script src="{% static '/js/script.js' %}"></script>
<script src="{% static '/colorfield/colorfield.js' %}"></script>
<script src="{% static '/colorfield/jscolor/jscolor.js' %}"></script>

<!-- codesnippet -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>