{% load static %}
<link rel="stylesheet" href="{% static '/css/foundation.css' %}" />
<link rel="stylesheet" href="{% static '/css/app.css' %}" />
<link rel="stylesheet" href="{% static '/line-awesome/css/line-awesome.min.css' %}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/92a1346e0d.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/monokai-sublime.min.css">
<!-- Fontawsome kit? -->
<script src="https://kit.fontawesome.com/92a1346e0d.js" crossorigin="anonymous"></script>
<!-- <link href="{% static 'ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/monokai-sublime.css' %}" rel="stylesheet"> -->


