{% load static %}
<li class="{% if '/blog' in request.path %}is-active{% endif %}"><a href="{% url 'articles' %}">Journal d'une Dév</a></li>
<li class="{% if '/tutorial' in request.path %}is-active{% endif %}"><a href="{% url 'tutos' %}">Les Astuces d'Ookamy</a></li>
<li class="{% if '/portfolio' in request.path %}is-active{% endif %}"><a href="{% url 'portfolio' %}">Portfolio</a></li>