{% load static %}
<ul id="menu-right-user"  class="submenu menu vertical" data-submenu>
    <li class="m-10 text-center">Bonjour {{user.username|default:"humain =)"|capfirst}} </li>
    {% if user.is_authenticated %}
        <li class="text-center">
            <img class="box-sh-image round-img" src="{% static '/media/' %}{{ user.profile.image }}" alt="" height="50" width="50">
        </li>
        <li><hr class="" /></li>
        {% if user.is_superuser %}
        <li><a class="" href="/personnal_url_for_admin_dashboard"><i class="fa-solid fa-toolbox"></i> Dashboard</a></li>
        <li><hr class="" /></li>
        {% endif %}
        <li><a class="" href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> Profil</a></li>
        <li><a class="" href="{% url 'deconnexion' %}"><i class="fa-solid fa-power-off"></i> Deconnexion</a></li>
    {% else %}
        <li><a class="" href="{% url 'connexion' %}"><i class="fa-solid fa-power-off"></i> Connexion</a></li>
    {% endif %}
</ul>> 