{% extends 'ookamy_base.html'%}
{% load static %}

{% block style %}{% endblock %}
{% block title %}Contactez-moi{% endblock %}
{% block h1 %}{% endblock %}
{% block content %}
<!-- contenu -->
<div class="grid-x grid-margin-x  align-center">

    <div class="cell  small-12 medium-10 card ">
        <div class="cell text-center">
            <img src="{% static 'img/ooka.svg' %}" style="width: 185px;" alt="logo">
            <h6 class="ooka-title" style="text-align: center !important;" >Me contacter</h6>
        </div>
        <div class="cell">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-outline">
                    <label class="form-label" for="{{form.name.id_for_label}}">Nom :</label>
                    <input type="text" required id="{{form.name.id_for_label}}" name="name" class="form-control"
                        placeholder="Nom" />
                </div>
                <div class="form-outline">
                    <label class="form-label" for="id_template" >Select Menu
                        <select name="template" id="id_template">
                          <option class="form-control" value="basic">basic</option>
                          <option class="form-control" value="contact">contact</option>
                          <option class="form-control" value="contact_info">contact_info</option>
                          <option class="form-control" value="welcome">welcome </option>
                          <option class="form-control" value="newsletter">newsletter</option>
                        </select>
                      </label>
                </div>

                <div class="form-outline">
                    <label class="form-label" for="{{form.email.id_for_label}}">Email : Veuillez donner une adresse
                        valide pour être sûre d'avoir une réponse =)</label>
                    <input type="email" id="{{form.email.id_for_label}}" name="email" required class="form-control"
                        placeholder="Email" />
                </div>

                <div class="form-outline">
                    <label class="form-label" for="{{form.message.id_for_label}}">Message :</label>
                    <textarea class="form-control" id="{{form.message.id_for_label}}" rows="4" name="message"
                        maxlength="1000" required></textarea>
                    <div class="text-right"><span id="current-caracter">0</span>/1000</div>
                </div>

                <div class="text-center">
                    <button class="button super-btn submit" type="submit">Envoyer</button>
                </div>
            </form>
        </div>


    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        let currentCaract = $('#current-caracter');
        let textArea = $('#{{form.message.id_for_label}}');

        textArea.on("input", function () {
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;

            //console.log(maxlength - currentLength + "/" + maxlength);
            currentCaract.html(currentLength);
        });
    }); 
</script>
{% endblock %}