{% extends 'ookamy_base.html'%}
{% load static %}

{% block style %}{% endblock %}
{% block title %}Gestion des Newsletters{% endblock %}
{% block h1 %}{% endblock %}
{% block content %}{% block content %
<!-- contenu -->
<div class="grid-x grid-margin-x  align-center">
<a class="hollow button success" href="{% url 'news-add' %}"><i class="fa-regular fa-square-plus"></i> Créer une News</a>

<!-- tableau pour visualiser / envoyer les newsletter -->
<table class="hover">
    {% csrf_token %}
    <thead>
        <tr>
          <th class="text-center">date creation</th>
          <th class="text-center">sujet</th>
          <th class="text-center">body</th>
          <th class="text-center">Articles associer</th>
          <th class="text-center">Tuto's associer</th>
          <th class="text-center">envoyer</th>
        </tr>
    </thead>  
    <tbody>
        {% for n in news %}
        <tr>
            <td class="text-center">{{n.date_create}}</td>
            <td class="text-center">{{n.subject}}</td>
            <td class="text-center">
                <p>
                    <button class="button secondary" data-open="article-{{n.pk}}xx"><i class="fa-regular fa-eye"></i></button></p>
                <div class="large reveal" id="article-{{n.pk}}xx" data-reveal>
                    <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <a class="secondary button clear" href="{% url 'template' n.pk %}"><span title="Voir le resultat"><i class="fa-regular fa-eye"></i></span></a>
                    {{n.body|safe}}
                </div>
            </td>
            <td>
                {% if n.article_list.all %}
                <ul>
                {% for article in n.article_list.all %}
                        <li>{{article.title}}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td>
                {% if n.tutorial_list.all %}
                <ul>
                {% for tutorial in n.tutorial_list.all %}
                        <li>{{tutorial.title}}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </td>
            <td >
                {% if n.send %}
                <div class="text-center" style="color: green;">
                    <span class="align-center" title="{{n.date_send}}">
                        <i class="fa-solid fa-check"></i><br>
                        {{n.date_send}}
                    </span>
                </div>
                
                
                {% else %}
                <div class="tiny button-group align-center ">
                    <a class="warning button hollow"><span title="envoyer" onclick="send_newsletter('{{n.pk}}');"><i class="fa-solid fa-share"></i></span></a>
                    <a class="primary button hollow" href="{% url 'newsletter_form_update' n.pk %}" ><span title="Editer"><i class="fa-solid fa-pen-fancy"></i></span></a>
                    <a class="alert button hollow"><span title="supprimer" onclick="d_newsletter('{{n.pk}}');"><i class="fa-regular fa-trash-can"></i></span></a>
                </div>
                {% endif %}
            
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<div>
    {{emails}}
</div>
</div>
{% endblock %}
{% block script %}
<script>
    function send_newsletter(data){
        let formData = new FormData();
        formData.append('id', data);

        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // console.log(csrfTokenValue)
        const request = new Request('{% url "news-send" %}', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken': csrfTokenValue}  // On ajoute le token dans l'en-tête
        });
        fetch(request)
            .then(response => response.json())
            .then(result => {
                // console.log(result['result'])
                if ( result['result'] == 'OK'){
                    location.reload();
                }
            })
    };

    function d_newsletter(data){
        let formData = new FormData();
        formData.append('id', data);

        let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // console.log(csrfTokenValue)
        const request = new Request('{% url "news-delete" %}', {
            method: 'POST',
            body: formData,
            headers: {'X-CSRFToken': csrfTokenValue}  // On ajoute le token dans l'en-tête
        });
        fetch(request)
            .then(response => response.json())
            .then(result => {
                if ( result['result'] == 'OK'){
                    location.reload();
                }
            })
    };

</script>


{% endblock %}