{% extends 'ookamy_base.html'%}
{% load static %}

{% block style %}{% endblock %}
{% block title %}Contactez-moi{% endblock %}
{% block h1 %}{% endblock %}
{% block content %}
<!-- contenu -->
<div class="grid-x grid-margin-x  align-center">

    <div class="cell  small-12 medium-10 card ">
        <div class="cell text-center">
            <img src="{% static 'img/ooka.svg' %}" style="width: 185px;" alt="logo">
            <h6 class="ooka-title" style="text-align: center !important;" >Campagne de Newsletter</h6>
        </div>
        <div class="cell">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-outline">
                    <label class="form-label" for="{{form.subject.id_for_label}}">Objet de la newsletter : </label>
                    {{form.subject}}
                </div>
                <div class="form-outline">
                    <label class="form-label" for="{{form.body.id_for_label}}">Message :</label>
                    {{form.media}}
                    {{form.body}}
                </div>
                <div class="grid-x grid-padding-x" >
                    <div class="medium-6 cell">
                        <label for="{{form.article_list.id_for_label}}">Liste des articles mis en avant :</label>
                        {{form.article_list}}
                    </div>
                    <div class="medium-6 cell">
                        <label for="{{form.tutorial_list.id_for_label}}">Liste des Tutoriels mis en avant :</label>
                        {{form.tutorial_list}}
                    </div>
                </div>
                <div class="text-center">
                    <button class="button super-btn submit" type="submit">Envoyer</button>
                </div>
            </form>
        </div>


    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}