{% extends 'ookamy_base.html'%}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block h1 %}{% endblock %}
{% block style %}

{% endblock %}

{% block content %}
<div id="portfolio" class="grid-x">
  <!-- about -->
  <div class="cell card">
    <div class="grid-x">
      <div class="cell medium-12 large-4">
        <div class="cell text-center">
          <img class="img-fluid " src="{% static 'img/ooka.svg' %}" alt="">
        </div>
        <div class="cell text-center">
          <a class="button" id="btn-contact" href="{% url 'contact' %}" role="button">
            <i class="fas fa-paper-plane"></i> Me Contacter
          </a>
        </div>
        <div class="cell mb-10 text-center">
          <a href="https://gitlab.com/Ookamy" target="_blank" rel="noopener noreferrer" title="Repository GitLab"><i
              class="fa-brands fa-gitlab"></i></a>
          <a href="https://github.com/MmeOokamy/" target="_blank" rel="noopener noreferrer" title="Repository Github"><i
              class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/in/e-gougelet/" target="_blank" rel="noopener noreferrer"
            title="LinkedIn Profil"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.instagram.com/mme.ookamy/" target="_blank" rel="noopener noreferrer"
            title="Incagram, my dog and others"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
      <div class="cell medium-12 large-8 grid-margin-x grid-x">
        <div class="cell medium-6">
          <div class="cell">
            <h6 class="ooka-title">Emmanuelle G.</h6>
          </div>
          <div class="cell">Développeuse curieuse, toujours en quête de nouvelles opportunités d'apprentissage et
            d'exploration. Mon parcours m'a permis d'expérimenter divers langages de programmation, mais
            c'est Python qui a conquis mon cœur.
          </div>
        </div>
        <div class="cell medium-6">
          <div class="cell small-12">
            <h6 class="ooka-title">Technos</h6>
          </div>
          <div class="cell grid-x">
            <div class="cell small-3 text-center"><i class="fab fa-python"></i></div>
            <div class="cell small-3 text-center"><i class="fab fa-php"></i></div>
            <div class="cell small-3 text-center"><i class="fab fa-js"></i></div>
            <div class="cell small-3 text-center"><i class="fab fa-linux"></i></div>
            <div class="cell small-3 text-center"><i class="fab fa-windows"></i></div>
            <div class="cell small-3 text-center"><i class="fas fa-terminal"></i></div>
            <div class="cell small-3 text-center"><i class="fas fa-code-branch"></i></div>
            <div class="cell small-3 text-center"><i class="fas fa-database"></i></div>
            <div class="cell small-3 text-center"><i class="fab fa-symfony"></i></div>
            <div class="cell small-3 text-center"><i class="fab fa-laravel"></i></div>
          </div>
        </div>
        
        <div class="cell medium-12">
          <div class="cell">
            <h6 class="ooka-title">Bienvenue dans mon monde numérique.</h6>
          </div>
          <div class="cell">
            Découvrez mon univers de développeuse à travers une collection diversifiée de projets
            passionnants, où chaque ligne de code raconte une histoire unique.
          </div>
        </div>


      </div>
    </div>

  </div>
  <!-- portfolio -->
  <div class="cell">
    <div class="grid-x grid-margin-x">
      <!-- diagram entity -->
      <div class="card cell small-12 medium-6 large-4  flex-container flex-dir-column">
        <div class="flex-child-auto">
          <h4 class="ooka-title">ookamy.fr</h4>
          <cite class="text-right">C'est ici!</cite>
        </div>
        <div class="flex-child-grow">
          <p>
            Domaine principal.<br>
            Migration de l'application en Django5.0 et Python 3.12. De Github vers Gitlab avec l'utilisation du CI/CD en decembre 2023.
          </p>
        </div>
        <div class="flex-child-shrink grid-x grid-margin-x small-up-2 medium-up-4 large-up-6">
          <div class="cell auto text-center">
            <a href="{% static '/img/diagram_entity_ookamy_fr.svg' %}" target="_blank" rel="noopener noreferrer" title="Diagramme d'entité de la base de données Ookamy.fr"><i class="fa-solid fa-diagram-project"></i></a>
          </div>
        </div>

        <div class="flex-child-shrink orbit mt-10" data-orbit>
          <ul class="orbit-container">
            <li class="orbit-slide is-active">
              <figure class="orbit-figure">
                <img class="orbit-image" src="{% static '/img/diagram_entity_ookamy_fr.svg' %}" alt="Diagramme d'entité de la base de données Ookamy.fr ">
              </figure>
            </li>
          </ul>
        </div>
        <div class="flex-child-shrink">
          <cite>
            Python - Django 5.0
          </cite>
        </div>
      </div>

      <!-- achievement by db -->
      {% for a in achievements %}
      <div class="card cell small-12 medium-6 large-4  flex-container flex-dir-column">
        <div class="flex-child-auto">
          <h4 class="ooka-title">{{a.title}}</h4>
          <cite class="text-right">{{a.subtitle}}</cite>
        </div>
        <div class="flex-child-grow">
          <p>{{a.describe|safe}}</p>
        </div>
        {% if a.url %}
        <div class="flex-child-shrink grid-x grid-margin-x small-up-2 medium-up-4 large-up-6">
          {% for u in a.url.all %}
          <div class="cell auto text-center">
            <a href="{{u.url}}" target="_blank" rel="noopener noreferrer" title="{{u.title}}"><i
                class="fa-solid fa-link"></i></a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        <div class="flex-child-shrink orbit mt-10" data-orbit>
          {% if a.image %}
          <ul class="orbit-container">
            <li class="orbit-slide is-active">
              <figure class="orbit-figure">
                <img class="orbit-image" src="{% static '/media/' %}{{ a.image }}" alt="Space">
              </figure>
            </li>
          </ul>
          {% endif %}
        </div>
        <div class="flex-child-shrink">
          {% if a.code.all %}
          <cite>
            {% for c in a.code.all%}{{c}} {% endfor %}
          </cite>
          {% endif %}
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>

</script>
{% endblock %}