@charset "UTF-8";
@import url("color.css");
@import url("fonts.css");
@import url("buttons.css");
/*
Theme Name: SuperPotatoes
Ookamy@copyright <3 Version-Foundation-2022 for Django-App
App Part
 */

#ookalogo {
    width: 40px;
    height: auto;
}

body{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size:1rem;
    font-size:1rem;
    height: auto;
    margin: 0 auto;
    background-image: url("../img/background_liara.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

h1 {
    font-size: 2rem !important; 
}

h2 {
    font-size: 1.5rem !important; 
}

h3 {
    font-size: 1.25rem !important; 
}

h4 {
    font-size: 1.1875rem !important; 
}

h5 {
    font-size: 1.125 !important; 
}

h6 {
    font-size: 1.0625rem !important; 
}


.box-sh-image{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.txt-left{
    text-align: left;
}

.box-shad-00{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.menu a{
    color: var(--text-menu) ;
}

.submenu a{
    color: var(--opacity-black-80) ;
}

.menu a:hover{
    color: var(--text-menu-hover);
    font-weight: bold;
}

#ooka-menu.sticky.is-stuck.is-at-top{
    background-color: var(--menu-bg) !important;
}

.user-menu{
    color: var(--user-menu-icon);
    padding-right: 20px;
}
.user-menu:hover{
    color: var(--user-menu-hover);
}


footer{position:fixed; bottom:0; z-index:-1;}

div#alert-message {
    position: absolute;
    top: 50px;
    right: 0px;
    z-index:2;
    width: 300px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.5s;
}

#ooka-menu{
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.h1-title{
    font-family: "mass_effect_123regular";
    color: var(--darkred) !important;
    font-size: large;
    border-bottom: solid 1px;
    text-align: center;
    margin-bottom: 10px;
}
/* News */
.ooka-title-news {
    font-family: "mass_effect_123regular";
    color: var(--darkred) !important;
    border-bottom: solid 1px;
    text-align: left;
}


/* Card Blog */
/* .card-theme-header{
    background-color: var(--bglighttrans20);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}*/
/*
.ooka-title-theme {
    font-family: "mass_effect_123regular";
    color: var(--title01) !important;
    text-align: center;
    border-bottom: 1px solid var(--title01);
}
*/
/*
.ooka-subtitle-theme {
    font-family: "RadioCanada-SB";
    color: var(--blue-vintage-light);
    text-align: left;
} */

.ooka-title {
    font-family: "mass_effect_123regular";
    color: var(--title);
    border-bottom: var(--title) solid 1px;
    text-align: left;
  }

.ooka-subtitle {
    font-family: "RadioCanada-SB";
    color: var(--title01);
    text-align: right;
}

.card  img.blog-img{
    border-radius: 10px;
    margin-bottom: 10px;
}

.bb-tr50{
    border-bottom: 1px solid var(--opacity-white-50);
}
.bb-grey{
    border-bottom: 1px solid var(--opacity-black-80);
}

.card-profil-bg-trans-80{
    background-color: var(--opacity-white-80);
    border-radius: 10px;
}

.profil-card{
    background-color: whitesmoke;
}

.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }

.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }

.mr-10{ margin-right: 10px;}

.m-5{ margin: 5px !important; }
.m-10{ margin: 10px; }

.p-10{
    padding: 10px
}
.p-20{
    padding: 20px
}

.pt-10{ padding-top: 10px; }
.pt-20{ padding-top: 20px; }
.pt-30{ padding-top: 30px; }
.pt-40{ padding-top: 40px; }

.pb-10{ padding-bottom: 10px; }
.pb-20{ padding-bottom: 20px; }
.pb-30{ padding-bottom: 30px; }
.pb-40{ padding-bottom: 40px; }

/* accordion-menu */
.title-theme{
    font-family: "RadioCanada-SB";
    color: var(--title02) !important;
    text-align: left;
    border-bottom: 1px solid var(--opacity-white-50);
}

.avatar-blog{
    height: 50px;
    width: auto;
    border-radius: 50%;
}
/* Profil */
#Avatar{
    border-radius: 20px;
}

.round-img{
    border-radius: 50%;
}


/* PORTFOLIO */
div#portfolio a:not(#btn-contact) {
    color: var(--blue-vintage-light) !important;
  }
  
  #btn-contact, .super-btn {
    background-color: var(--blue-vintage-light) !important;
    color: var(--textcolorfirst) !important;
    font-weight: bold;
    border-radius: 5px;
    padding:  10px 25px 10px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .btn-cancel{
    background-color: var(--bglighttrans20) !important;
    color: var(--darkred) !important;
    font-weight: bold;
    border-radius: 5px;
    padding:  10px 25px 10px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .super-stop-btn{
    background-color: var(--darkred) !important;
    color: var(--textcolorfirst) !important;
    font-weight: bold;
    border-radius: 5px;
    padding:  10px 25px 10px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


/* CANVAS */
    /* left canvas */
div#offCanvasLeft.off-canvas {
    font-family: "RadioCanada-SB" !important;
    background-color: var(--menu-bg) !important;
}


ul#static  li.is-active > a{
    color: var(--text-left-menu-is-active) !important;
}

/* canvas chafouinerie & blog */
.ooka-title-canvas {
    font-family: "mass_effect_123regular";
    text-align: left;
    color: var(--canvas-title) !important;
    border-bottom: solid 1px;
}
.ooka-li-a-canvas {
    color: var(--canvas-text) !important;
}
.ooka-li-a-canvas:hover {
    color: var(--canvas-text-hover) !important;
}
.ooka-li-a-canvas .is-active{
    color: var(--canvas-text-is-active) !important;
}

/* Right dropdown menu */
/* @media (min-width: 640px) {
    ul#menu-right-user{
       border-radius: 20px;
       color: var(--title01);
       border: solid 2px var(--blue-vintage-dark);
       background-color: var(--menu-bg);
   }
} */

/* Right canvas */
div#offCanvasRight.off-canvas {
    font-family: "RadioCanada-SB" !important;
    background-color: var(--menu-bg) !important;
}

div#offCanvasRight.off-canvas li, div#offCanvasRight.off-canvas li a {
    color: var(--opacity-white-80) !important;
}
div#offCanvasRight.off-canvas li a:hover {
    color: var(--canvas-text-hover) !important;
}


/* blog canvas */

/* TodoList */
#column-list{
    width: 100vw;
    height: 85vh;
    overflow-x: auto;
    scrollbar-color: var(--scrollbar-position) var(--scrollbar-fond);
    scrollbar-width: thin;
 }

 #column-list .column-list {
    min-width: 280px !important;
    max-width: 300px !important;
    border-radius: 5px;
    background-color: var(--todo-column);
}

#column-list .column-list .column-list-title {
    color: var(--todo-font);
    border-bottom: var(--todo-hr) 2px solid;
    background-color: var(--todo-column-title);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    min-height: 20px;
    padding: 10px 8px;
    margin-bottom: 2px;
}

.column-list-tasks {
    max-height: 100%;
    margin: 0 4px;
    padding: 0px 4px;
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 1;
}

.btn-add{
   color: var(--blue-vintage-light);
   height: 100%;
   font-weight: bolder;
   padding: 0 5px;

}
.task-card{
    background-color: var(--todo-card);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-decoration: none;
    max-width: 300px;
    min-height: 40px;
    z-index: 0;
}
.task-card-detail{
    /* overflow: auto; */
    padding: 6px 8px 4px ;
    position:relative;
    /* z-index: 10; */
}

/* CARD MODAL */
#card-task .todo-card-hr{
    width: 200px;
    opacity: 0.8;
    
}
#card-task .todo-card-title{}
#card-task .todo-card-tags{}
#card-task .todo-card-describe{}

#card-task .todo-card-actions{
    min-width:80px !important;
    text-align: center;
}

#card-task .todo-card-action{
    width: 100%;
    min-height: 20px;
    background: var(--todo-card-action);
    margin-bottom: 2px;
}

#card-task .todo-card-action:hover{
    cursor: pointer;
}

/* modal */
.reveal {
    border-radius: 10px !important;
}


/* Tag color Class Attribute */
.tags {
    border-radius: 20px;
    font-style: normal;
    font-size: xx-small !important;
    margin-bottom: 1px;
}

.little-tags{
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis; 
    display: inline-block;
    opacity: 0.8;
}

#resultat{
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    width: 100%;
    height:2.4375rem;
    color: #fff;
    background:#000;
}

/* TUTORIAL */
#tutorial-module .ooka-theme-title {
    font-family: "RadioCanada-SB";
    font-size: small;
    color: var(--darkred) !important;
    text-align: left;
}

#tutorial-module .ooka-title {
    font-family: "RadioCanada-SB";
    font-size: small;
    border-bottom: var(--title) solid 1px;
    text-align: left;
    font-size: 1em;
}
#tutorial-module .ooka-title-last {
    font-family: "RadioCanada-SB";
    font-size: small;
    text-align: left;
    color: var(--taskbg-vintage01);
    font-size: 1.2em;
}

#tutorial-module .ooka-subtitle {
    font-family: "RadioCanada-SB";
    color: var(--title01);
    text-align: right !important;
}

#tutorial-module .ooka-date{
    text-align: right !important;
    color: var(--darkred);
}

#tutorial-module a:hover {
    text-decoration: none;
    cursor: pointer;
}
#tutorial-module .card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* ckeditor class =>.code-featured /!\ <code class="language-python"> */