@charset "UTF-8";
@import url("color.css");
@import url("fonts.css");
/*
Theme Name: SuperPotatoes
Ookamy@copyright <3 Version-Foundation-2022 for Django-App
Buttons Part
*/


/*  btn add remove 
<button class="icon-btn add-btn" title="Ajouter ..." >
    <div class="add-icon"></div>
    <div class="btn-txt">Add</div>
</button>
<button class="icon-btn add-btn kill-col" title="Supprimer ..." >  
    <div class="btn-txt">Remove</div>
</button>
*/
.icon-btn {
    width: 20px;
    height: 20px;
    border: 1px solid #ffff;
    background: var(--opacity-white-80);
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
  }
  .add-btn:hover {
    width: 100px;
  }
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 2px;
    width: 7px;
    top: calc(50% - 1px);
    background: var(--lightred);
  }
  .add-btn::after {
    right: 8px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn::before {
    left: 8px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .icon-btn:focus {
    outline: none;
  }
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
    opacity: 1;
    color: var(--title);
  }
  /* add button + */
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 12px;
    width: 2px;
    top: calc(50% - 6px);
    background: var(--lightred);
    overflow: hidden;
  }
  .add-icon::before {
    left: 8px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .add-icon::after {
    right: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  

  /*
   RADIO TAG
  */

  radio-tag {

  }

 