@charset "UTF-8";
/*
Theme Name: SuperPotatoes
Ookamy@copyright <3 Version-Foundation-2022 for Django-App
Color part
*/

:root {
    --title:#008b8b;
    --darkred:#800000;
    --darkredrgb:rgb(128, 0, 0);
    --lightred:rgb(212, 0, 0);
    --lightredtrans80:rgba(212, 0, 0, 0.8);
    --textcolorfirst:#f0ffff;
    --textcolor:#000000;
    --bglight:#ffffff;
    --bgdarktrans80:rgba(0, 0, 0, 0.8);
    --bgdarktrans50:rgba(0, 0, 0, 0.5);
    --bglighttrans80:rgba(255, 255, 255,0.8);
    --bglighttrans50:rgba(255, 255, 255,0.5);
    --bglighttrans30:rgba(255, 255, 255,0.3);
    --bglighttrans20:rgba(255, 255, 255,0.2);
    --trans:rgba(255, 255, 255,0);
    --bgMenu:#333031;
    --textMenu:rgb(255, 203, 90);
    --title01: #d05800;
    --title02: #FF6D00;
    --textMenu80:#ffcb5a98;
    --bluelightvintage: #177C8B;
    --bluedarkvintage: #084A62;
    --taskbg-vintage01: rgba(8, 74, 98, 0.5 );
    --taskbg-vintage02: #177c8b96;
    --taskbg-done: #178b2696;
    --orangered:#DC3C35;
    --bgbody:#DC3C35;
    --text:rgb(43, 41, 41);
    --shadow:rgba(0, 0, 0, 0.16);
    --grad00: linear-gradient(to right top, #eb9f12, #e38802, #da7000, #d05800, #c43e01, #b82f05, #ab1e08, #9e060a, #8e050a, #7e0509, #6f0508, #600505);
    --grad01: linear-gradient(to right top, #ffbc00, #ffb000, #ffa400, #ff9800, #ff8b00, #8d745b, #f87100, #f46300, #eb5200, #e34000, #d92900, #d00000);
    --grad02: linear-gradient(to right top, #eb9f12, #e38802, #da7000, #d05800, #c43e01, #b82f05, #ab1e08, #9e060a, #8e050a, #7e0509, #6f0508, #600505);
    
    /* Principale color */
    --menu-bg:rgb(51, 48, 49);
    --ooka-red-light:#d40000;
    --ooka-red-dark:#800000;

    /* index */
    --index-title:#008b8b;
    --index-title-shadow:#ffffff;
    --index-text:#000000;
    --index-text-shadow:#000000;
    /* blue */
    --blue-vintage-light: rgb(23, 124, 139); /* h3 h4 h6*/
    --blue-vintage-dark: rgb(8, 74, 98);
    /* --red-vintage: rgb(139, 38, 23); */

    /* opacity  */
    /* white */
    --opacity-white-80:rgba(255, 255, 255,0.8);
    --opacity-white-50:rgba(255, 255, 255,0.5);
    --opacity-white-30:rgba(255, 255, 255,0.3);
    /* black */
    --opacity-black-80:rgba(0, 0, 0, 0.8);
    --opacity-black-50:rgba(0, 0, 0,0.5);
    --opacity-black-30:rgba(0, 0, 0,0.3);

    /* menu left / top / right */
    --text-menu:rgba(255, 255, 255,0.8);
    --text-menu-hover:rgb(255, 109, 0);
    --user-menu-icon:rgb(139, 38, 23);
    --user-menu-hover:rgb(255, 255, 255);
    --text-left-menu-is-active:rgb(0, 139, 139);
    --text-top-menu-is-active:rgb(254, 254, 254); /* foundation.css */

    /* Canvas color */
    --canvas-text:rgba(255, 255, 255,0.8);
    --canvas-text-hover:rgb(255, 109, 0);
    --canvas-title:rgb(255, 109, 0);
    --canvas-text-is-active:rgb(255, 109, 0);

    /* TodoList color */
    --todo-column:rgba(194, 194, 194, 0.1);
    --todo-column-title:rgba(255, 255, 255, 0.8);
    --todo-hr:rgba(66, 66, 66, 0.8);
    --todo-font:rgba(0, 0, 0, 0.945);
    --todo-card:rgb(169, 203, 215);
    --scrollbar-position: rgb(4, 67, 90);
    --scrollbar-fond: rgba(251, 251, 251, 0.5);
    --todo-card-modal:rgba(255, 255, 255, 0.4);
    --todo-card-action:rgba(170, 170, 170, 0.4);
    
}
