/* ----------------------- */
/* Ookamy Fonts Selection */
/* --------------------- */

/* Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Install */
@font-face {
    font-family: "mass_effect_123regular";
    font-weight: 100 900;
    font-style: normal;
    src: url("fonts/me123-webfont.woff2") format("woff2"), url("fonts/me123-webfont.woff") format("woff");
}


/* RadioCanada Family */
@font-face {
    font-family: 'RadioCanada_C-L';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_Condensed/RadioCanada_Condensed-Light.ttf");
}

@font-face {
    font-family: 'RadioCanada_C-R';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_Condensed/RadioCanada_Condensed-Regular.ttf");
}

@font-face {
    font-family: 'RadioCanada_C-M';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_Condensed/RadioCanada_Condensed-Medium.ttf");
}

@font-face {
    font-family: 'RadioCanada_C-SB';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_Condensed/RadioCanada_Condensed-SemiBold.ttf");
}

@font-face {
    font-family: 'RadioCanada_C-B';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_Condensed/RadioCanada_Condensed-Bold.ttf");
}

@font-face {
    font-family: 'RadioCanada_SC-L';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_SemiCondensed/RadioCanada_SemiCondensed-Light.ttf");
}

@font-face {
    font-family: 'RadioCanada_SC-R';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_SemiCondensed/RadioCanada_SemiCondensed-Regular.ttf");
}

@font-face {
    font-family: 'RadioCanada_SC-M';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_SemiCondensed/RadioCanada_SemiCondensed-Medium.ttf");
}

@font-face {
    font-family: 'RadioCanada_SC-SB';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_SemiCondensed/RadioCanada_SemiCondensed-SemiBold.ttf");
}

@font-face {
    font-family: 'RadioCanada_SC-B';
    font-weight: 100 900;
    src: url("fonts/RadioCanada_SemiCondensed/RadioCanada_SemiCondensed-Bold.ttf");
}

@font-face {
    font-family: 'RadioCanada-L';
    font-weight: 100 900;
    src: url("fonts/RadioCanada/RadioCanada-Light.ttf");
}

@font-face {
    font-family: 'RadioCanada-R';
    font-weight: 100 900;
    src: url("fonts/RadioCanada/RadioCanada-Regular.ttf");
}

@font-face {
    font-family: 'RadioCanada-M';
    font-weight: 100 900;
    src: url("fonts/RadioCanada/RadioCanada-Medium.ttf");
}

@font-face {
    font-family: 'RadioCanada-SB';
    font-weight: 100 900;
    src: url("fonts/RadioCanada/RadioCanada-SemiBold.ttf");
}

@font-face {
    font-family: 'RadioCanada-B';
    font-weight: 100 900;
    src: url("fonts/RadioCanada/RadioCanada-Bold.ttf");
}