@charset "UTF-8";
@import url("color.css");

/* reset */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/**********************
**
**  index.html css
**
***********************/
body#index-page {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  color: var(--index-text);
  font: 1rem;
  background-image: url("../img/background_liara.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.massEffect {
  font-family: "mass_effect_123regular";
  letter-spacing: 0.05em;
  font-size: 2.5em;
  font-weight: bolder;
}


h1 {
  font-family: "mass_effect_123regular";
  font-size: xx-large;
  color: var(--index-title);
}

#loading {
  font-family: "mass_effect_123regular";
  font-size: large;
  color: var(--blue-vintage-light);
  text-shadow: none;
}

footer#index-footer {
  background-color: var(--opacity-white-30);
  color: var(--blue-vintage-dark);
}

footer#index-footer a,
a:hover {
  color: var(--blue-vintage-dark);
}

/* FIRST PART */
#first {
  height: 100vh;
  min-height: 500px;
  color: var(--textcolorfirst);
}

.index-text {
  min-height: 250px;
  display: inline;
  vertical-align: middle;
  text-shadow: 1px 1px 2px var(--index-text-shadow);
  position: absolute;
  /* postulat de départ */
  top: 50%;
  left: 50%;
  /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%);
  /* décalage de 50% de sa propre taille */
}

.index-text a,
a:hover {
  color: var(--blue-vintage-light);
  text-shadow: 1px 1px 2px var(--index-text-shadow);
}

.firstName {
  color: var(--bluegreen);
  text-shadow: 4px 4px 4px #aaa;
}

.index-h2 {
  letter-spacing: 3px;
}

#super-cookies{
  height: 150px;
  width: auto;
}

#news-box {
  height: 150px;
}

#news-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#news-list .new{
  display: flex;
  flex-direction: row;
}

#news-list .new .new-subtitle{
  flex-grow: 1;
}