{% extends 'ookamy_base.html'%}
{% load static %}

{% block style %}{% endblock %}
{% block title %}{{theme.title}}{% endblock %}
{% block h1 %}{% endblock %}
{% block content %}
 <!-- Affiche la liste des theme se base sur blog_theme -->
 <div class="grid-x grid-margin-x align-center">
    {% for a in theme.tutorial_set.all %}
    <section class="card cell small-12 medium-10" id="{{a.slug}}" >
        <h3 class="ooka-title">{{ a.title }}</h3>
        <small class="ooka-subtitle ">Dernière modification: {{a.date_modif|date:'j F Y'}}</small>
        {{ a.text|safe }}
    </section>
    {% endfor %}
</div>
{% endblock %}
{% block script %}{% endblock %}