{% extends 'ookamy_base.html'%}
{% load static %}

{% block title %}{{article.title}}{% endblock %}

{% block h1 %}{% endblock %}
{% block content %}

<div class="grid-x grid-margin-x align-center">
    <!-- contenu -->
    <div class="cell small-12 medium-10 large-8" id="super-anchor" data-something>
        <div class="card">
            <!-- titre & sous titre -->
            <div class="card-section">
                <h3 class="ooka-title">{{article.title}}</h3>
                <h6 class="ooka-subtitle ">{{article.subtitle}}</h6>
            </div>
            <!-- img & text & author-->

            {% if article.image %}{% for i in article.image.all %}
            <img src="{% static '/media/' %}{{i.img}}" class="box-sh-image blog-img" alt="{{i.title}}" title="{{i.title}}" />
            {% endfor %}{% endif %}

            <div class="card-section bb-tr50">
                {{article.text|safe}}
            </div>

            <div class="card-section mt-10">
                <div class="grid-x align-middle">
                    <div class="cell small-6 text-center">
                        <img src="{% static '/media/' %}{{ article.author.profile.image }}" class="avatar-blog" alt="" />
                    </div>
                    <div class="cell small-6 text-center">
                        <span> Publié le <u>{{article.date}}</u> par</span>
                        <h5 class="">{{article.author|capfirst}}</h5>
                        Categorie : <a href="{% url 'theme' article.theme.slug %}">
                            {{article.theme}}
                        </a></p>
                    </div>
                    <div class="cell small-12">
                        <p class="text-center"><strong>Commentaires: {{article.review_set.all.count }}</strong></p>
                    </div>
                </div>
            </div>

            <div class="card-section">
            {% if request.user.is_authenticated %}
                {% for c in article.review_set.all %}
                <div class="col-10">
                    <p class="mb-2">Par <strong>{{c.reviewer|upper}}</strong>, {{c.date}}</p>
                    <p>{{c.review}}</p>
                    <hr class="mx-5">
                </div>
                {% endfor %}
            {% endif %}
            </div>
            {% if request.user.is_authenticated%}
            <div class="card-section">
                <p class="text-center"><strong>Laisser un commentaire</strong></p>
                <form action="/review/" method="POST">
                    <input type="hidden" name="moderate" value="False">
                    <input type="hidden" name="article" value="{{article.id}}">
                    <input type="hidden" name="reviewer" value="{{request.user}}">
                    {% csrf_token %}
                    <div class="">
                        <label class="form-label" for="review">Commentaire</label>
                        <textarea class="form-control" id="review" rows="4" name="review" maxlength="400"></textarea>
                        <div class="text-right"><span id="current-caracter">0</span>/400</div>
                    </div>
                    <div class="text-center">
                        <button class="button super-btn" type="submit">Envoyer</button>
                    </div>
                </form>
            </div>
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        let currentCaract = $('#current-caracter');
        let textArea = $('#review');

        textArea.on("input", function () {
            var maxlength = $(this).attr("maxlength");
            var currentLength = $(this).val().length;

            //console.log(maxlength - currentLength + "/" + maxlength);
            currentCaract.html(currentLength);
        });
    }); 
</script>
{% endblock %}