{% extends 'ookamy_base.html'%}
{% load static %}
{% load filters %}
{% block style %}{% endblock %}
{% block title %}Blog d'Ookamy{% endblock %}
{% block h1 %}{% endblock %}
{% block content %}
<!-- template blog/tuto -->
<div class="grid-x grid-margin-x align-center">
    <!-- contenu -->
    {% if page_obj %}
    <div class="cell small-12 medium-10 large-8" id="super-anchor" data-something>
        {% for a in page_obj %}
        <div class="card">
            <!-- titre & sous titre -->
            <div class="card-section">
                <h3 class="ooka-title">{{a.title}}</h3>
                <h6 class="ooka-subtitle ">{{a.subtitle}}</h6>
            </div>
            <!-- img & text & author-->

            {% if a.image %}
            <img src="{% static '/media/' %}{{a.image}}" class="box-sh-image blog-img" alt="{{a.title}}" title="{{a.title}}" />
            {% endif %}

            <div class="card-section bb-tr50">
                {{a.text|safe}}
            </div>

            <div class="card-section mt-10">
                <div class="grid-x align-middle">
                    <div class="cell small-2 text-center">
                        <img src="{% static '/media/' %}{{ a.author.profile.image }}" class="avatar-blog" alt="" />
                    </div>
                    <div class="cell small-6 text-center">
                        <span> Publié le <u>{{a.date}}</u> par</span>
                        <h6 class="">{{a.author|capfirst}}</h6>
                        Categorie : <a href="{% url 'theme' a.theme.slug %}">
                            {{a.theme}}
                        </a>
                    </div>
                </div>
            </div>


        </div>
            
        {% endfor %}
        <div class="card">
            {% include 'blog/pagination.html' %} 
        </div> 
    </div> 
    {% endif %}
</div>

{% endblock %}
{% block script %}
<script>
    $( document ).ready(function() {
        // if({{page_obj.number}} === 1){
        //    $('.menu-icon:button').click();
        // }
    }); 
</script>
{% endblock %}
