{% load static %}
{% load paginator_tags %}
<nav aria-label="Pagination" pagination-mobile-items="true">
    <ul class="pagination text-center " >
    {% get_proper_elided_page_range paginator page_obj.number 1 1 as page_range %} 
    {% if page_obj.has_previous %}
        <!-- <li class=""><a href="?page=1">Première</a></li> -->
        <li class="pagination-previous "><a href="?page={{ page_obj.previous_page_number }}">Précédent</a></li>
    {% endif %}
    {% for page_num in page_range %}
        {% if page_obj.number == page_num %}
            <li class="current">
                <span class="show-for-sr" aria-label="Page-{{ page_num }}">{{ page_num }}</span>{{ page_obj.number }}
            </li>
        {% else %}
            {% if page_num == paginator.ELLIPSIS %}
                <li><span>{{ paginator.ELLIPSIS }}</span></li>
            {% else %}
                <li class="">
                    <a class="" aria-label="Page-{{ page_num }}" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}" aria-label="Page Suivante">Suivante</a></li>
        <!-- <li class=""><a href="?page={{ page_obj.paginator.num_pages }}">Dernière</a></li> -->
    {% endif %}
    </ul>
</div>