{% extends 'ookamy_base.html'%}
{% load static %}

{% block title %}Connexion{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static '/css/acc.css' %}" />
{% endblock %}
{% block h1 %} {% endblock %}


{% block content %}

<div id="login" class=" grid-x grid-margin-x  align-center">
    <div class="cell small-12 medium-8 large-6 text-center callout card-profil-bg-trans-80">
    <img src="{% static 'img/ooka.svg' %}" style="width: 150px;" alt="logo">
        <h4 class="ooka-title text-center" style="text-align: center !important;">We are Legion</h4>
        <p>Veuillez vous connecter à votre compte</p>
        <form class="mt-10" method="post">
            {% csrf_token %}
            <div class="">
                <label class="form-label" for="{{login_form.username.id_for_label}}">Identifiant</label>
                <input type="text" id="{{login_form.username.id_for_label}}" name="username"
                    class="form-control" placeholder="Identifiant - username" />
            </div>

            <div class="">
                <label class="form-label" for="{{login_form.password.id_for_label}}">Mot de passe</label>
                <input type="password" id="{{login_form.password.id_for_label}}" name="password" placeholder="Mot de passe"
                    class="form-control" />
            </div>
            <div class="text-center">
                <button class="button super-btn expanded"
                    type="submit">Connexion</button>
            </div>
        </form>

    </div>
   
</div>
{% endblock %}