{% extends 'ookamy_base.html'%}
{% load static %}


{% block title %}{{user.username}}{% endblock %}
{% block style %}{% endblock %}
{% block h1 %}{% endblock %}


{% block content %}
    
<div class="grid-x  align-center card-profil-bg-trans-80 p-20" style="min-height: 80vh;">
    <div class="cell small-12 medium-4">
        <div class="cell text-center">
            <img class="box-sh-image round-img" src="{% static '/media/' %}{{ user.profile.image }}" alt="" height="200" width="200">
        </div>
        <div class="cell mt-20 txt-center">
            <button class="button super-btn" data-open="Avatar" >
                <i class="fas fa-pencil-alt fa-lg"></i>
            </button>

                <i class="fab fa-expeditedssl fa-lg"></i>

        </div>
    </div>
    <div class="cell small-12 medium-8 ">
        <div class="cell mb-10 p-10 box-shad-00 profil-card">
                Cher {{user.username|capfirst}}, <br>
                je m'excuse pour la page de profile qui est rudimentaire. <br>
                Vous pouvez déjà modifier l'adresse mail, le nom d'utilisateur le mot de passe ainsi que rajouter une image de profile. L'idéal est une image avec pour ratio 1:1, ou <span data-tooltip tabindex="1" title="l'image est redimensionnée, attention quand on utilise le téléphone pour envoyer une photo il se peut que l'image ne soit pas dans le bon sens">300px*300px</span>.
                <br>
                Vous pourrez bientôt retrouver tous les commentaires que vous avez laisser dans les différents articles du blog
        </div>
        <ul class="accordion box-shad-00" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            {% if dic_art_tuto %}

            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Listes des articles :</a>
                <div class="accordion-content " data-tab-content>
                    <div class="grid-x grid-margin-x">

                    {% for a in dic_art_tuto.articles %}
                    <div class="cell small-12 medium-6 large-6">
                        {{a.title}} <cite> {{a.theme}} ({{a.date | date:'m/y'}})</cite>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Listes des tutoriaux :</a>
                <div class="accordion-content " data-tab-content>
                    <div class="grid-x grid-margin-x">
                    {% regroup  dic_art_tuto.tutorials|dictsort:"theme.title" by theme as t_list %}
                    {% for theme, tuto in t_list %}
                    <div class="cell mb-10 small-12 medium-6 large-6">
                        <h6>{{ theme|capfirst }}</h6>
                        <ul class="nested vertical menu">
                        {% for t in tuto %}
                            <li>{{t.title}} ({{t.date_update | date:'m/y'}})</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </li>

            {% endif %}


            {% if user.is_superuser %}
                
                {% if mails %}
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Listes des mails de contact :</a>
                    <div class="accordion-content " data-tab-content>
                        <div class="grid-x grid-margin-x">
                        {% for m in mails %}
                        <div class="cell mb-10 small-12 medium-12 large-12">
                        {{m.message}} 
                        <cite>{{m.email}} ({{m.date_send | date:'m/y'}})</cite>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </li>
                {% else %}
                pas de mail
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>



<!-- This is the first modal -->
<div class="reveal" id="Avatar" data-reveal>
  <h1>Modifier le profile</h1>
  <p class="lead">
    <form action="" method="post" enctype="multipart/form-data" >
        <div class="bb-grey ">
            <input type="hidden" name="user" value="{{user.id}}">
            {% csrf_token %}
            <div class="form-input">
                {{ u_form.username.label }}
                {{ u_form.username }}
                {{ u_form.email.label }}
                {{ u_form.email }}
                <hr>
                {{ p_form.image}}
                <cite>Image en 300x300 idealement </cite>
            </div>
        </div>
        <div class="text-center mt-10">
            <button type="submit" class="button super-btn">Enregistrer</button>
        </div>
        </form>
  </p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endblock %}
{% block script %}
{% endblock %}
