{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Identité Numérique d'une développeuse">
    <meta name="author" content="Emmanuelle GOUGELET alias Ookamy">
    <link rel="icon" type="image/ico" href="{% static '/img/ooka.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/index.css' %}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />
    <title>Ookamy - Accueil </title>
</head>

<body id="index-page">

    <div id="first">
        <div class="index-text">
            <div class="index-h2" data-aos="fade-right" data-aos-delay="400">
                <img id="super-cookies" src="{% static 'img/gif/cookie-2s-Ooka.gif' %}" alt="">
            </div>
            <h1 class="massEffect" data-aos="zoom-in" data-aos-delay="200"><span class="firstName">Bienvenue dans mon monde</span></h1>
            <div class="text-center" data-aos="fade" data-aos-delay="600" >
                <div class="spinner-border text-warning text-center" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div id="news-box" class="" data-aos="fade" data-aos-delay="300" >
                <div id="news-list">
                    {% for new in news %}{% if new.subtitle %}
                    <div class="new">
                        <div class="new-subtitle">{{new.subtitle}}</div>
                    </div>
                    {% endif %}{% endfor %}
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
    <script src="https://kit.fontawesome.com/92a1346e0d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        $(document).ready(function () {
            AOS.init();
            attenteURL(changeURL, 2000);


        });

        function attenteURL(action, tmps) {
            setTimeout(action, tmps);
        };
        function changeURL() {
            window.location.replace("{% url 'articles' %}");
        };
    </script>
</body>

</html>