{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Identité Numérique d'une développeuse">
    <meta name="author" content="Emmanuelle GOUGELET alias Ookamy">
    <link rel="icon" type="image/ico" href="{% static '/img/ooka.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'z/stylesheet.html' %}
    <title>Ookamy - {% block title %}{% endblock %} </title>
    {% block style %}{% endblock %}
    {% block script_top %}{% endblock %}
</head>

<body>
    <div class="title-bar " data-responsive-toggle="ooka-menu" data-hide-for="medium">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            <span class="title-bar-title">Menu</span>
        </div>
        <div class="title-bar-right">
            <span class="title-bar-title" type="button" data-open="offCanvasRight"><i class="fas fa-user"></i></span>
        </div>
    </div>
    <div class="off-canvas-wrapper">
        {% include 'z/menu_top_bar_base.html' %}
        <!-- Menu de droite pour la parti connexion quand portable -->
        {% include 'z/right_canvas_user_base.html' %}
        
        <!-- OffCanvas -->
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
            <!-- btn pour fermer le canvas -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- menu static -->
            {% include 'z/left_canvas_static_menu_base.html' %}
            <ul class="vertical menu canvas-static-list">
                <!-- deco -->
                <li class=""><a href="{% url 'contact' %}">Contact</a></li>
                <li><hr class="" /></li>
                <li class="grid-x align-center">
                    <a href="https://github.com/MmeOokamy/" target="_blank" rel="noopener noreferrer"
                        title="Repository Github"><i class="lab la-github la-2x"></i></a>
                    <a href="https://www.linkedin.com/in/e-gougelet/" target="_blank" rel="noopener noreferrer"
                        title="LinkedIn Profil"><i class="fa-brands fa-linkedin la-2x"></i></a>
                    <a href="https://www.instagram.com/mme.ookamy/" target="_blank" rel="noopener noreferrer"
                        title="Incagram, my dog and others"><i class="fa-brands fa-instagram la-2x"></i></a>
                </li>
            </ul>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div id="alert-message" class="{% if message.tags %} {{ message.tags }} {% endif %}callout" data-closable=>
                <p>{{ message }}</p>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}

        <div class="grid-container p-10 {% if '/todo' in request.path %}fluid{% endif %}">
        {% block h1 %}{% endblock %}
        {% block content %}
        {% endblock %}
        </div>
    </div>
    
    <footer>
        <i class="fa-brands fa-linux"></i>Ookamy-©-2005-{% now 'Y' %} ||
        <span id="random"></span>
    </footer>
    
    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
            evt.detail.headers['X-CSRFToken'] = "{{ csrf_token }}"; 
        });
    </script>
    {% include 'z/script.html' %}
    {% block script %}{% endblock %}

</body>

</html>