
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title_mail}}</title>
    <style>
        table
        {
            background-color: aqua;
        }
    </style>
</head>
<body>
    
    <table>
        <thead>
            <tr>
                <th>
                    <img src="https://www.ookamy.fr/static/img/ooka.png" alt="logo ookamy">
                </th>
                <td><h4>{{title_mail}}</h4></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <p>{{message}}</p>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <blockquote style="font-size: smaller;">
                    message envoyer par le site ookamy.fr&#xA9;2020-2023
                </blockquote>
            </tr>
        </tfoot>
    </table>
</body>
</html>